* {
    margin: 10px auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.external {
    padding: 10px 20px;
    border: 0;
    background-color: greenyellow;
    border-radius: 10px
}
